.animation{
  perspective: 900px;
  perspective-origin: center -5em;
  min-height: 500px;
}
.animation-box {

  transform-style: preserve-3d;
  animation: rotate 10s infinite linear;
  display: inline-block;
  position: relative;
  top: 50px;
  left: 350px;
}

@keyframes rotate {
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

div.side {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  position: absolute;
  outline: 1px solid #000;
  outline-offset: 25px;
  opacity: 0.8;
}

.front {
  background: url("../../assets/img/pic6.png");
}

.left {
  transform: translateX(-100px) rotateY(90deg) translateX(100px);
  background: url("../../assets/img/pic1.png");
}

.right {
  transform: translateX(100px) rotateY(90deg) translateX(100px);
  background: url("../../assets/img/pic2.png");
}

.up {
  transform: translateY(-100px) rotateX(90deg) translateY(- 100px);
  background: url("../../assets/img/pic3.png");
}

.down {
  transform: translateY(100px) rotateX(90deg) translateY(- 100px);
  background: url("../../assets/img/pic4.png");
}

.back {
  transform: translateZ(-200px);
  background: url("../../assets/img/pic5.png");
}