body {
	font-family: cursive;
}

ol {
	font-size: 20px;
}

body {
	background-color: #332e38;
}

img {
	width: 1500px;
	height: 1000px;
}

h1 {
	color: green;
	border: 2px dotted blue;
	text-align: center;
	background-color: white;
}

h2 {
	color: beige;
}

h3 {
	color: aliceblue;
}

p {
	color: yellow;
}

ul {
	color: green;
}

