body {
	font-family: cursive;
}

ol {
	font-size: 20px;
}

body {
	background: url(Asess/img/background27.png);
}

img {
	width: 1500px;
	height: 1000px;
}

h1 {
	color: green;
	border: 2px dotted blue;
	text-align: center;
	background-color: white;
}

